#tetris {
    border: 1px solid black;
}



#score {
    border: 2px solid black;
    margin-right: 305px;
    display: flex;
    align-items: center;
}

#jeu {
    display: flex;
    margin: 0;
}

#next {
    border: 2px solid black;
    margin-left: 2px;
    width: 50px;
    height: 50px;
}

#command {
    position:relative;
    left: 2px;
}

#num_score {
    margin-left: 5px;
}

header {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: #540e61;
    /*background-color: #DB6DEE;*/
}
